   /*classes*/
   .ptamanho {
       font-size: 16pt;
   }

   .pcor {
       color:  #00ff00;
       font-size: 15pt;
   }

   /*id*/
   #ttamanho {
       font-size: 26pt;
   }

   #tcor {
       color: brown;
   }